<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>

<body>
    <div class="container-fluid">
        container
        <!--<div class="container">-->
            <div class="row">

                <div align="center" class="col-md-auto">
                    uma coluna
                </div>
            </div>
        <!--</div>-->

    </div>


    <!-- Footer-->
    <footer>
        <div class="container">
            <div class="row">
                container footer
            </div>
        </div>
        <div class="copyright">
            <p>© 2019. Todos os direitos reservados</p>
        </div>
    </footer>

</body>
</html>