{% extends "datasad_base_home.html" %}
{% load staticfiles %}

{% block home_menu %}
    {% include 'datasad_menu_opcoes.html' %}
{% endblock home_menu %}

{% block home_conteudo %}

    <div class="row">
        <div class="jumbotran box-items">
            <div class="container">
                <h1 class="display-5">Seja Bem Vindo, Pedro Feitosa!</h1>
                <p class="lead">Você pode começar acessando o menu de opções a esquerda.</p>
                <h6>Dúvidas de como utilizar a plataforma? Consulte o nosso <a href="#"> Guia do usuário.</a></h6>
            </div>
        </div>

    </div>

{% endblock home_conteudo %}
