<div class="row box-main">
    <div class="col-xs-12">
        <h3 align="center">Seus questionários</h3>
        <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Questionário</th>
              <th scope="col">Área</th>
              <th scope="col">Status</th>
              <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Dados Pessoais</td>
                  <td>Assistência Social</td>
                  <td>Ativo</td>
                  <td>ações</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Socio demográfico</td>
                  <td>Assistência Social</td>
                  <td>Encerrado</td>
                  <td>ações</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Socio econômico </td>
                  <td>Assistência Social</td>
                  <td>Encerrado</td>
                  <td>ações</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Atividades acadêmicas</td>
                  <td>Pedagogia</td>
                  <td>Ativo</td>
                  <td>ações</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>