<div class="box-menu-opcoes">
    <div class="card card-menu-opcoes" >
        <img class="logo float-left" src="#" alt="logo"/>
        <div class="card-body">
            <h5 align="center" class="card-title">Nome do usuário</h5>
        </div>
    </div>
    <nav class="menu-opcoes">
        <ul>
            <li><a href="#">Perfil</a></li>
            <li><a href="#">Meus Questionários</a></li>
            <li><a href="#">Minhas avaliação</a></li>
            <li><a href="#">Relatórios</a></li>
      </ul>
    </nav>
</div>